@model ProgramareMedic.Models.Medici

@{
    ViewData["Title"] = "Create";
}

<h1>Adauga medic</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeMedic" class="control-label"></label>
                <input asp-for="NumeMedic" class="form-control" />
                <span asp-validation-for="NumeMedic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrenumeMedic" class="control-label"></label>
                <input asp-for="PrenumeMedic" class="form-control" />
                <span asp-validation-for="PrenumeMedic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specializare" class="control-label"></label>
                <input asp-for="Specializare" class="form-control" />
                <span asp-validation-for="Specializare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinica" class="control-label"></label>
                <input asp-for="Clinica" class="form-control" />
                <span asp-validation-for="Clinica" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salveaza" class="btn btn-primary px-4" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3" >
    <a asp-action="Index" class="btn btn-outline-danger px-4">Inapoi</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
