@{
    ViewData["Title"] = "Home Page";
}

<div class="page-container">
    <div class="text-center">
        <h1 class="pt-3 pb-5 mt-5 mb-4 display-4 fw-bold text-white">Programare Medic</h1>
    </div>

    <div class="card-container">
        <div class="container px-2" id="custom-cards">
            <h2>Categorii</h2>

            <div class="row row-cols-3 row-cols-lg-3 align-items-stretch g-3 py-4">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg card-hover" style="background-image: url('https://i0.wp.com/outboardst.com/wp-content/uploads/2018/12/what-the-hex-dark.png?w=400&ssl=1');">
                        <div class="d-flex flex-column h-100 p-5 pb-6 text-white text-shadow-12">
                            <h2 class="pt-3 pb-5 mt-5 mb-4 display-6 lh-1 fw-bold">Pacienti</h2>
                            <a class="nav-link text-light btn btn-primary btn-outline-success mt-2 p-2" asp-area="" asp-controller="Pacienti" asp-action="Index">Acceseaza pagina</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg card-hover" style="background-image: url('https://i1.wp.com/feedmekittens.com/wp-content/uploads/2019/09/memphis-mini-dark.png?w=400&ssl=1');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-3 text">
                            <h2 class="pt-3 pb-5 mt-5 mb-4 display-6 lh-1 fw-bold">Medici</h2>
                            <a class="nav-link text-light btn btn-primary btn-outline-success mt-2" asp-area="" asp-controller="Medici" asp-action="Index">Acceseaza pagina</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg card-hover" style="background-image: url('https://i0.wp.com/outboardst.com/wp-content/uploads/2018/12/what-the-hex-dark.png?w=400&ssl=1');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-12">
                            <h2 class="pt-3 pb-5 mt-5 mb-4 display-6 lh-1 fw-bold">Programari</h2>
                            <a class="nav-link text-light btn btn-primary btn-outline-success mt-2" asp-area="" asp-controller="Programari" asp-action="Index">Acceseaza pagina</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .page-container {
        background-color: black;
        padding: 20px;
    }

    .card-container {
        background-color: grey;
        padding: 20px;
    }

    .text-white {
        color: white;
    }

    .card-hover:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
</style>
