@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>
    Această politică de confidențialitate explică modul în care sunt colectate, utilizate și divulgate informațiile personale atunci când utilizați aplicația noastră web pentru înregistrarea programărilor la medic.
</p>

<h2>Informații colectate</h2>
<p>
    Pentru a asigura funcționarea corectă a aplicației și pentru a vă oferi o experiență personalizată, putem colecta și procesa următoarele tipuri de informații:

    Informații de identificare personală: inclusiv nume, prenume, adresă de email, număr de telefon și alte date pe care le furnizați atunci când utilizați aplicația noastră.
    Informații despre programări: datele programărilor dvs. la medic, inclusiv data și ora programării, categoria serviciilor solicitate și numele medicului.
    Informații de utilizare: informații despre modul în care utilizați aplicația noastră, inclusiv acțiunile pe care le efectuați și interacțiunile cu diferitele caracteristici ale aplicației.
</p>
<h2>
    Utilizarea informațiilor
</h2>
<p>
    Informațiile personale colectate sunt utilizate în principal pentru a permite funcționarea și gestionarea programărilor dvs. la medic. Utilizăm informațiile pentru:

    Procesarea și confirmarea programărilor dvs.
    Comunicarea cu dvs. în legătură cu programările și alte aspecte legate de utilizarea aplicației noastre.
    Personalizarea și îmbunătățirea experienței dvs. în aplicație.
    Analizarea utilizării aplicației în scopuri de îmbunătățire continuă.
</p>
<h2>Divulgarea informațiilor</h2>
<p>
    Nu vom vinde, distribui sau transfera în alt mod informațiile dvs. personale către terți fără consimțământul dvs., cu excepția cazurilor în care este necesar din motive legale sau pentru a asigura funcționarea și securitatea aplicației noastre.
</p>
<h2>   Securitatea informațiilor</h2>
<p>
    Ne angajăm să protejăm informațiile dvs. personale și să implementăm măsuri de securitate adecvate pentru a preveni accesul neautorizat, utilizarea sau divulgarea acestora.
</p>
    <h2>Modificări ale politicii de confidențialitate</h2>
<p>
    Această politică de confidențialitate poate fi actualizată periodic pentru a reflecta modificările aduse practicilor noastre de confidențialitate. Vă încurajăm să revizuiți periodic această pagină pentru a fi la curent cu orice modificări.
    Data actualizării va fi indicată în partea de sus a acestei pagini.
</p>


